html {
  height: 100%;
  margin: 0;
}

body {
    background-color: #fafafa;
    height: 100%;
    margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: 70px;
}

.footer,
.push {
  height: 70px;
}

.navbar-default {
    background-image: none;
    background-color: #edf0f9;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: transparent;
    margin-bottom: 0px;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-brand {
    height: 100%;
}

#icon {
    height: 100%;
}

#intro {
    background-color: #edf0f9;
}

p, h1, h2, h3, h4 {
    text-align: center;
}

h1, h2 {
    color: #455a93;
}

.head-spacer {
    height: 50px;
}

#hello article {
    margin: auto;
    max-width: 75%;
}

.break {
    margin: 20px;
}

section {
    margin-bottom: 35px;
}

footer {
    background-color: #edf0f9;
    padding: 20px;
}

footer p {
    text-align: center;
}

#skills figure>img {
    max-width: 300px;
    max-height: 180px;
    margin: 20px;
    padding: 20px;
}

.jq-img {
    /*position: relative;
  bottom: 75%;
  transform: translateY(75%);*/
    margin-top: 50px;
}

.break {
    font-size: 25px;
    color: #bcbaba;
}

.preview {
    border-radius: 5px;
    box-shadow: 2px 3px 3px grey;
    background-color: white;
    transition: all .2s ease-in-out;
    margin-bottom: 20px;
}

.preview:hover {
    transform: scale(1.01);
}

.preview img {
    width: 75%;
    margin: 20px;
}

#contact figure>img {
    max-width: 300px;
    max-height: 180px;
    margin: 20px;
    padding: 20px;
}

.walkwrap {
    overflow: hidden;
    width: 100%;
}

@keyframes luigiWalk {
    0% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(110%);
    }
}

.luigi {
    width: 100%;
    animation-name: luigiWalk;
    animation-iteration-count: 1000;
    animation-timing-function: linear;
    animation-duration: 10s;
}
