<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Adam Mason</h2>
        <p class="header-desc">
          Front End Developer
        </p>
      </div>
    </div>
  </div>
</section>
<section id="hello">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <article>
        <h2>Hello.</h2>
        <p>
          I'm a front end developer based in Dearborn, Michigan. I have a passion for details, and I love to make easy to use web applications.
        </p>
      </article>
    </div>
  </div>
</div>
</section>
<section id="skills">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <article>
          <header>
            <h2>Skills</h2>
            <div class="row">
              <div class="col-md-4">
                <figure class="text-center">
                  <img src="img/HTML5CSS3Logos.png" />
                </figure>
              </div>
              <div class="col-md-4">
                <figure class="text-center">
                  <img src="img/AngularJS-Shield.png" />
                </figure>
              </div>
              <div class="col-md-4">
                <figure class="text-center jq-img">
                  <img src="img/jQuery-Logo.png"/>
                </figure>
              </div>
            </div>
          </header>
        </article>
      </div>
    </div>
  </div>
</section>
