<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Adam Mason</h2>
        <p class="header-desc">
          Front End Developer
        </p>
      </div>
    </div>
  </div>
</section>
<section id="hello">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <article>
        <h3>Hello.</h3>
        <p>
          I'm a front end developer based in Dearborn, Michigan. I have a passion for details, and I love to make easy to use web applications.
        </p>
      </article>
    </div>
  </div>
</div>
</section>
