<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <article>
          <header>
            <h2>Contact Me</h2>
            <p>
              Please reach out. I'd love to hear from you!
            </p>
            <div class="row">
              <div class="col-md-4">
                <a href="https://github.com/theadammason" target="_blank">
                <figure class="text-center">
                  <img src="img\GitHub_Logo.png" />
                </figure>
                </a>
              </div>
              <div class="col-md-4">
                <a href="https://www.linkedin.com/in/theadammason/" target="_blank">
                <figure class="text-center">
                  <img src="img\In-2C-101px-R.png" />
                </figure>
                </a>
              </div>
              <div class="col-md-4">
                <a href="mailto:adam.mason86@gmail.com" target="_blank">
                <figure class="text-center">
                  <img src="img\logo_gmail_128px.png"/>
                </figure>
                </a>
              </div>
            </div>
          </header>
        </article>
      </div>
    </div>
  </div>
</section>
<div class="walkwrap">
  <div class="luigi">
    <img src="{{luigi}}" />
  </div>
</div>
