<section id="hello">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <article>
          <h2>Recent projects</h2>
          <p>
            Here are some recent projects I have worked on.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="project">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <article>
          <h2>Theater Reservations</h2>
          <p>
            Web app made to reserve seats in a theater, taking in user input.
          </p>
          <a href="https://theadammason.github.io/TheaterReservations/"><figure class="preview text-center">
            <img src="img/movieclub.png" />
          </figure></a>
        </article>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</section>
<break></break>
<section class="project">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <article>
          <h2>Mad Libs</h2>
          <p>
            Using an Angular factory, built a basic Mad Libs app.
          </p>
          <a href="https://theadammason.github.io/Lab15-MadLibs"><figure class="preview text-center">
            <img src="img/madlibs.png" />
          </figure></a>
        </article>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</section>
<break></break>
<section class="project">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <article>
          <h2>Reddit API pull</h2>
          <p>
            App designed to pull Reddit API and recreate a basic way to view content.
          </p>
          <a href="https://theadammason.github.io/Lab17-RichMansReddit/"><figure class="preview text-center">
            <img src="img/redditapi.png" />
          </figure></a>
        </article>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</section>
